<%= form_for @category, html: {class: "form-vertical"} do |f| %>

<% if @category.errors.any? %>
  <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </div>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="form-group">
    <%= f.label :Category, class: "label label-default" %>
    <%= f.text_field :name, class: "form-control" %>
<div>
 
<p>
  <%= f.submit class: "btn btn-default" %>
</p>
<% end %>

